body {
  margin-left:3%;
  margin-right:3%
  font-family: Helvetica;
  font-size: 9pt;
}

h1,h2,h3,h4,h5 {
  font-family: Helvetica;
}

table {
  padding: 5;
  border: 0;
}

th {
  padding: 5; 
  font-weight: bold;
  font-family: Helvetica;
  font-size: 9pt;
}

td {
  padding: 5;
  vertical-align: middle;
  font-family: Helvetica;
  font-size: 9pt;
}

a:active { text-decoration: none}
a:link { text-decoration: none}
a:visited { text-decoration: none}

img {
  border:0 ;
}

p {
  text-align: justify;
  font-family: Helvetica;
  font-size: 9pt;
}

